OPENAI_API_KEY=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
FLASK_ENV=development
